.loginContainer {
    margin-left: 33%;
    margin-top: 10%;
    margin-right: 35%;
    // box-shadow: 1px 5px 40px 5px #f3dc0b, 1px 5px 20px 2px #27250f;
}

.adminTitleLogin {
    color: $primary;
}

.csvButton {
    float: right;
    margin-top: 0.5%;
    margin-right: 0.3%;
}
#res {
    color: #791616;
}

