.buttonContainer {
    min-height: 50px;
    max-height: 100px;
    max-width: 300px;
    z-index: 1201;
    position: absolute;
    bottom: 0;
}

.btn-success {
   position: absolute !important;
   z-index: 1205 !important;
   margin-left: 100px
}

.btn-danger {
    position: absolute !important;
    z-index: 1205 !important;
}