.loginContainer {
    margin-left: 33%;
    margin-top: 10%;
    margin-right: 35%;
    // box-shadow: 1px 5px 40px 5px #f3dc0b, 1px 5px 20px 2px #27250f;
}

// .LoginCSS{
//     height: 100%;
//     background-image: linear-gradient(to bottom right, #B91372, #6B0F1A);
// }

.adminTitleLogin {
    color: $primary;
}

#res {
    color: #791616;
}

