@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

@import "Variables.scss";
@import "Images.scss";
@import "SummaryMap.scss";
@import "SidewalkDrawer.scss";
@import "Alerts.scss";
@import "AdminLogin.scss";
@import "Statistics.scss";

/* bootstrap button overrides */
.btn-primary {
    background-color: $primary !important;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: $primaryHover !important;
}

/* default font */
body {
	font-family: $fontFamily, sans-serif;
	//background-color: #282c34;
}


.rowImgSelector {
	display: flex;
    justify-content: space-between;
	width: 75%;
	align-items: center;
	
	:nth-child(1) {
		display: block;
		margin-right: 5px;
		margin-left: 14px;
	}
}

.padding25 {
	padding: 25px 25px 25px 25px;
}

.marginUpDown15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.marginTop10 {
	margin-top: 10px;
}

.marginRight10 {
	margin-right: 10px;
}

.closeButton {
	float: right;
	cursor: pointer;
	margin-left: auto;
	margin-right: 0;
}

.closeButton:hover {
	color: red;
}

.acceptButton {
	@extend .closeButton;
}

.acceptButton:hover {
	color: green;
}

.clickableItem {
	cursor: pointer;
}

div.noOutlineDiv:focus {
	outline: none;
}

.wrapText {
	word-break: break-word;
}
.button{
	display: inline-block;
}

.icon:hover {
	color: $primary;
	cursor: pointer;
}

.nextIcon {
	float: right;
	cursor: pointer;
	margin-left: auto;
	margin-right: 0;
}

.nextIcon:hover {
	color: $primary;
	cursor: pointer;
}

.modal-title {
	padding: 20px 23px;
}

.formLabel {
	font-size: 14px;
	font-family: $fontFamily;
	margin-right: 20px;
	cursor: pointer;
}

.searchBar {
	width: 25%;
}

.selectText {
	color: $primary;
}

.floatRight {
	float: right;
}

.closeButtonNormal:hover {
	color: red;
}