$commentsWidth: 95%;

.sidewalkDrawer {
	width: 50vw;
	max-width: 600px;
	
	.drawerImageSection {
		width: 40vw;
		max-width: 400px;
	}

	.streetNameSection {
		font-size: 24px;
		text-align: center;
	}

	.comments {
		width: 100%;
		
		.commentBox {
			width: $commentsWidth;
		}

		.commentDisplaySection {
			border-width: 1px;
			border-style: solid;
			border-color: rgb(167, 167, 167);
			border-radius: 15px;
			width: $commentsWidth;
			text-align: left;
		}

		.commentDisplayBox {
			width: auto;
			padding: 5px 5px 5px 5px;
			margin: 10px 10px 10px 10px;
			text-align: left;
			overflow-wrap: break-word;
		}

	}
}

.ratingSlider {
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-left: 10px;
	width: 25vw;
}