@import url("https://js.arcgis.com/4.9/esri/css/main.css");

#mapContainer {
	min-height: 91vh;
	cursor: pointer;
}

#filterGUI {
	position: relative;
	padding: 2px;
	height: 31vh;
	width: 30vw;
	background-color: white;
    overflow-y: auto;	
}

#filterGUIMinimized {
	position: relative;
}

.FilterGUIWrapper {
	display: none;
}

.applyButton {
	position: absolute;
	right: 0%;
}

.addFilter {
	height: 50%;
	margin: auto;
	margin-bottom: 16px;
	margin-left: 20px;
}

.esri-component{
	border-radius: 2%;
	opacity: 0.8;
}

.esri-component:hover{
	opacity: 1;
}

.table{
	vertical-align: middle;
	margin-left: 3%;
}

.esri-legend.esri-widget{
	max-width: 25%;
	line-height: 10px;
	opacity: 0.8;
	border-radius: 2%;
}

.esri-legend.esri-widget:hover{
	opacity: 1;
}

.esri-basemap-toggle {
	position: absolute;
	top: 20%;
	right: 20px;
}

.esri-view-width-less-than-small .esri-zoom .esri-widget--button {
	display: none;
}

tr {
	font-size: 12px;
}

.filterWrapper {
	display: flex;
	flex-wrap: wrap;
}

.filterSelectGroup {
	padding-left: 10px;
}

.filterTitle {
	padding-left: 10px;
}

.filterTable {
	cursor: default;
}

.filtersHeader {
	@extend .rowImgSelector;
}

.closeFilters:hover {
	color: red;

}
.closeFilters{
	position: absolute;
	right: 4%;
	padding-left: 10px;
}