# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.out
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
local_settings.py
environment/
django_steps/api/migrations/
screenshots/
steps-app/screenshots/